.App {
  text-align: center;
  display:flex;
  flex-flow:wrap;
  
  
  
}
.home{
  text-align: center;
  justify-content: center;
  align-items:center;
  
}

.formSection{
  display: flex;
 flex-wrap: wrap;
  width: 50%;
  height: 340px;
  align-items:center;
  text-align: center;
  

}

h1{
  padding-top: 2%;
  font-size: medium;
  transform: scaleX(140%);
  transform: scaleY(140%);
  
  
}
.movieList{
  text-align: center;
  display:flex;
  flex-flow:wrap;
  justify-content: center;
  padding-bottom: 10;
  
}


img{
  
  height: 640px;
  width: 340px;
  
  padding-bottom: 10%;

  object-fit: cover;
  
  
  


}

.summary{
  padding-left: 3%;
  inline-size: 300px;
  overflow-wrap: break-word;
  color:rgba(147, 144, 149, 0.97);
  
  
  
  
  
}
span{
  font-size: 15px;
}





.likebutton,.dislikebutton{
  font-size:15px;
  width: 20%;
  height: 25px;
  margin-top: 5%;
  margin-left: 3%;

}





.game-box{
 
  height: 160px;
  width: 160px;
  background:   white;
  color: black;
  font-size: 160px;
  display: flex;
  align-items:center;
  justify-content: center;



}






.notfound{
  height: 500px;
  width: 700px;
 
  
}
.movieList{
  display: flex;
  flex-wrap: wrap;
}
.movieImage:hover{

  transform: scale(1.2)
}

.board{
  background-color:"orange";
  display:grid;
  grid-template-columns:repeat(3,1fr);

  cursor:pointer;
  max-width:800px
}

.card{
  display: flex;
  flex-wrap:wrap;
  object-fit: cover;

}